parameters:
    ignoreErrors:
        - message: ~^Strict comparison using .+? between '.+?' and '.+?' will always evaluate to false\.$~
          path: %currentWorkingDirectory%/src/MediaType.php
    level: max
    paths:
        - bin
        - src
        - tests

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
